- title "Choose action", true, {fa_icon: 'tachometer'}

-# - content_for(:sidebar) do
-#   %li.disabled
-#     = link_to root_path, title: "No Customer Chosen" do
-#       = fa_icon "male"
-#       %span.hidden-xs.hidden-sm= "No Customer Chosen"
-#
-#   %li{class: true}
-#     = link_to root_path(anchor: 'general'), title: 'Dashboard', data: {toggle: 'tab'} do
-#       = fa_icon "tachometer"
-#       %span.hidden-xs.hidden-sm Dashboard
