<div class="ui card">
  <div class="content">
    <%= form_for(@new_message, remote: true, html: { class: 'ui form error' }) do |f| %>
      <%= f.hidden_field :number %>
      
      <div class="field">
        <%= f.text_area :text, rows: 3, class: "form-control" %>
      </div>
      
      <div class="clearfix"></div>
      
      <div class="chat_bottom">
        <%= f.submit 'Send', class: 'pull-right btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>