<h1>All Conversations</h1>

<% @conversations.each do |conversation| %>
  <%= link_to "/messages/#{conversation.sender.phone_number}",  data: { number: conversation.sender.phone_number } do %>
    <%= conversation.sender.phone_number %>
  <% end %>
<% end %>
