<%= form_for @competition do |f| %>
  <label>Title</label>
  <%= f.text_field :title, placeholder: "Competition Title" %>
  <br />
  <label>Keyword</label>
  <%= f.text_field :keyword, placeholder: "Competition Keyword" %>
  <br />
  <%= f.submit "Save" %>
<% end %>