<h3>Competitions</h3>
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Title</th>
          <th>Keyword</th>
          <th>Listener Count</th>
          <th><%= link_to "Add Competition", new_competition_path, :class => "btn btn-default btn-block" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @competitions %>
      </tbody>
    </table>
  </div>
</div>
