<h1><%= @competition.title %></h1>
<h2><%= @competition.keyword %></h2>

<% if @competition.winner %>
  <h3><%= @competition.winner %></h3>
<% else %>
  <%= link_to 'Pick Winner', pick_winner_path(@competition), method: :post %>
<% end %>