.page-header
  = link_to my_numbers_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to @my_number, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing my_number

= render 'form'

- content_for(:sidebar) do
  = render('my_numbers_sidebar')
