.speech-bubble-reply {
	position: relative;
	background: #14d9ff;
	border-radius: .4em;
	padding-left: 20px;
  padding-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.speech-bubble-reply:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #14d9ff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}


.speech-bubble {
	position: relative;
	background: #56bb09;
	border-radius: .4em;
	padding-left: 20px;
  padding-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #56bb09;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
