.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
  padding-left: 20px;
  padding-right: 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
